html {
  --light-blue: #dbecff;
  --semi-blue: #b3d3f8;
  --blue: #5ca5e5;
  --light-gray: #f2f2f2;
  --gray: #7e7e7e;
  --dark-gray: #595959;
  --black: #111111;

  --navigate-menu-width: 320px;
  --empty-navigate-menu-width: calc(var(--navigate-menu-width) - 110px);

  --post-width: 640px;

  --publication-max-width: 880px;

  background-color: var(--light-gray);
}
* {
  padding: 0px;
  margin: 0px;
}

.post-category {
  text-transform: none;
  align-items: center;

  font-size: 15px;
}
.post-published-time {
  margin-left: 8px;
  margin-bottom: 1px;

  font-size: 15px;
  color: var(--dark-gray);
}
.post-updated-time { 
    margin-left: 8px;
    margin-bottom: 1px;

    font-size: 15px;
    color: var(--gray);
}
.post-header {
  margin-bottom: 8px;

  font-size: 22px;
  font-weight: 500;
  line-height: 30px;

  text-decoration: none;
}
.post-description {
  margin-bottom: 16px;
  
  font-size: 17px;
  line-height: 26px;

  text-decoration: none;
}
.post-image {
  width: var(--post-width);
  max-height: 100%;

  margin-bottom: 8px;
}
.post-likes {
  text-transform: none;
  align-items: center;

  font-size: 15px;

  color: var(--gray)
}
.post-comments {
  margin-left: 8px;

  text-transform: none;
  align-items: center;

  font-size: 15px;
  color: var(--gray);
}
.post-views {
  margin-left: 8px;

  font-size: 15px;
  color: var(--gray);
}
.publication-container {
  width: 100%;

  display: flex;
  justify-content: center;
  max-width: var(--publication-max-width);

  margin-top: 64px;
  margin-left: -48px;
  background-color: #fff;
}